section {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #090979, #00d4ff);
    border-radius: 0 0 100% 50% / 0 0 0% 50%;
}
section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: end;
}
section .content h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3em;

}
section .content p {
    color: #fff;
    font-size: 1.2em;
}
.title {
    padding: 20px;
}
.cCards {
    top: -100px;
    margin: 0 auto;
    position: relative;
}
.card {
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.cCards .card img {
    width: 50%;
    margin: auto;
}
.question {
    padding: 30px;
}
.reticula, .reticula .row > div {
    padding-right: 0;
    padding-left: 0;
}
.img-table {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
/* Small Devices, Nav */
@media (max-width : 767px) {
.content > div {
    width: 100%;
}
.img-MobDesk{
    display: none;
}
.cCards{
    display: block;
}
.cCards .card {
    margin: 20px auto;
}
}
/* Medium Devices to Large Devices */
@media (min-width : 768px){
.content,
.cVideo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > div {
    width: 50%;
}
.img-MobDesk {
    display: block;
} 
.cCards {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
}

.about {
    /* The image used */
    
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contaImg {
    background-image: url(https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  }